/* Main Gallery */
.wrapper {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.main-container {
    width: 250px;
    height: 330px;
    box-shadow: 0 0 5px #008000;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
}

.main-container:hover{
    background-color: #0a0f18;
    box-shadow: 0 0 5px #00ffff;
    transform: scale(1.01);
}

.main-container img{
    width: 200px;
    border-radius: 10px;
}

.photo-title{
    color: #008000;
    letter-spacing: 0.5px;
}

.photo-description{
    font-weight: 300;
    color: #a5a4a4;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.gallery-link {
    text-decoration: none;
}

/* Single Photo Details*/

.photo-details-container {
    display: flex;
    gap: 1.5rem;
    background-color: #081b3d;
    margin: 3rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #008000;
    font-family: sans-serif;
}

.photo-details-container:hover {
    background-color: #061b41;
    box-shadow: 0 0 5px #00ffff;
}

.photo-details-container img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Page not found */
.NoPage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.NoPage-container img {
    width: 400px;
    box-shadow: 0 0 10px #00ffff;
    border-radius: 5px;
}

.NoPage-container img:hover {
    transform: scale(1.1);
    cursor: not-allowed;
}